html {background-color: #4D9078 !important}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #788085 !important;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46px;
    z-index: 100;
}