<!DOCTYPE html>
<html lang="en">

<!-- home page -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/home.css">
    <title>SpotifyU</title>
</head>

<body>
    <header>
        <img class="logo" img style="height:50px" src="images/spotifyu.png" alt="SpotifyU">
        <nav>
            <ul class="nav_links">
                <li><a href="home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="function">Search</a></li>
            </ul>
        </nav>
    </header>

    <section class="container">
        <div class="left-half">
            <article>
                <h1>Welcome to SpotifyU!</h1>
                <p>A new way to enhance your listening experience <br />
                    by analyzing your favorite artists and tracks.</p>
            </article>
        </div>
        <div class="right-half">
            <article>
                <img class="landing__image" src="images/gradient.jpg" alt="gradient">
            </article>
        </div>
    </section>

    <div id="#about">
        <!-- <h2>About SpotifyU</h2>
            <p>Using the Spotify Kaggle Dataset 1921-2020, our program aims to use the information stored within this dataset to
            perform data analysis and be able to recommend songs.</p> -->
    </div>

</body>

</html>