<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/home.css">
        <title>SpotifyU</title>
    </head>

    <body>
        <header>
            <!-- <a>href ="#"</a> -->
            <img class="logo" img style="height:50px" src="images/spotifyu.png" alt="SpotifyU">
            <!-- <a class= "nav-title" href ="#" SpotifyU></a> -->
            <nav>
                <ul class="nav_links">
                    <li><a href="home.ejs">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="ejs/function.ejs">Search</a></li>
                </ul>
            </nav>
        </header>
        
        <script src="seacrch.js"></script>
    </body>
</html>