<!DOCTYPE html>
<html lang="en">

<!-- home page -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
    <title>SpotifyU</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top">
        <img class="logo" img style="height:50px" src="images/spotifyu.png" alt="SpotifyU">
            <ul class="nav_links">
                <li><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="search">Search</a></li>
            </ul>
        </nav>
    </header>

    <div class="welcome">
        <div class="left-half">
            <article>
                <h1>Welcome to SpotifyU!</h1>
                <p>A new way to enhance your listening experience by analyzing your favorite artists and tracks.</p>
                <div class = "buttonContainer">
                    <button class="learnMB btn btn-primary btn-lg" type="learnMore">Learn More</button>
                    <button class="getMB btn btn-primary btn-lg" type="getStarted">Get Started</button>
                </div>
            </article>
        </div>
        <div class="right-half">
                <img class="landing__image" src="images/gradient.jpg" alt="gradient">
        </div>
    </div>

    <div id="about">
        <div class="containerTop">
            <div class="intro">
                <h1>About SpotifyU</h1>
                <p class="quote">Using the Spotify Kaggle Dataset 1921-2020, our program aims to use the information stored within this dataset to
                perform data analysis and be able to recommend songs.</p>
            </div>

            <div class="aboutTraits">
                <div id="about-traits" class="row">
                        <table>
                            <tr>
                                <td>Danceability <span class="desc">- How danceable a song is in a range of (0-1)</span></td>
                            </tr>
                            <tr><td>Energy <span class="desc">- How energized a song is in a range of (0-1)</span></td></tr>
                            <tr><td>Loudness <span class="desc">- How loud a song is in (db)</span></td></tr>
                            <tr><td>Speechiness <span class="desc">- The presence of words in track in a range of (0-1)</span></td></tr>
                            <tr><td>Acousticness <span class="desc">- How acoustic a track is in a range of (0-1)</span></td></tr>
                            <tr><td>Instrumentalness <span class="desc">- The absence of vocal sounds in track in range of (0-1)</span></td></tr>
                            <tr><td>Liveness <span class="desc">- The presence of audience in track in range of (0-1)</span></td></tr>
                            <tr><td>Valence <span class="desc">- The positiveness of the track in range of (0-1)</span></td></tr>
                            <tr><td>Tempo <span class="desc">- The overall tempo of track in (BPM)</span></td></tr>
                        </table>
                  </div>
            </div>

        <div class="gridPad">
            <div class="joinGrid">
                <div class="row">
                    <div class="axc">
                        <img class="tracker" img style="height:80px; margin-top: 20px;" src="images/spotifyu.png" alt="tracker">
                        <h2>Trait <br> Tracker</h2>
                        <h3>about trait tracker</h3>
                    </div>
                    <div class="axc tr">
                        <img class="rec" img style="height:80px; margin-top: 20px;" src="images/spotifyu.png" alt="rec">
                        <h2>Track <br> Recommender</h2>
                        <h3>about track recommender</h3>
                    </div>
                    <div class="axc">
                        <img class="sim" img style="height:80px; margin-top: 20px;" src="images/spotifyu.png" alt="sim">
                        <h2>Artist <br> Similarity</h2>
                        <h3>about artist similarity</h3>
                    </div>
                </div>
            </div>
             <button class="getMBend btn btn-primary btn-lg" type="getStarted" href="search">Get Started</button>
         </div>
        </div>

    </div>

</body>

</html>