<!DOCTYPE html>
<html lang="en">

<!-- search home & personalized list page -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/function.css">
    <title>SpotifyU</title>
</head>

<body>
    <header>
        <img class="logo" img style="height:50px" src="images/spotifyu.png" alt="SpotifyU">
        <nav>
            <ul class="nav_links">
                <li><a href="home">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="search">Search</a></li>
            </ul>
        </nav>
    </header>

    <!-- description  -->
    <section>
        <div class="containerTop">
            <div class="intro">
                <h1>Search SpotifyU</h1>
                <!-- <br>
                <form action="trait-tracker" method="POST">
                    <label>Trait Tracker</label>
                    <input type="submit" value="Get Started">
                </form>
                <br>
                <form action="track-recommender" method="POST">
                    <label>Track Recommender</label>
                    <input type="submit" value="Get Started">
                </form>
                <br>
                <form action="artist-similarity" method="POST">
                    <label>Artist Similarity</label>
                    <input type="submit" value="Get Started">
                </form> -->
            </div>
        </div>
    </section>

    <div class="gridPad">
        <div class="joinGrid">
            <div class="row">
                <div class="axc">
                    <img class="tracker" img style="height:80px; margin-top: 20px;" src="images/spotifyu.png" alt="tracker">
                    <h2>Trait <br> Tracker</h2>
                    <h3>about trait tracker, it does stuff blah blah blah</h3>
                    <form action="trait-tracker" method="POST">
                        <button type="submit" value="Get Started" class="getMBend btn btn-primary btn-lg">Get Started</button>
                    </form>
                    <!-- <button class="getMBend btn btn-primary btn-lg" type="tt">Get Started</button> -->
                </div>

                <div class="axc tr">
                    <img class="rec" img style="height:80px; margin-top: 20px;" src="images/spotifyu.png" alt="rec">
                    <h2>Track <br> Recommender</h2>
                    <h3>about track recommender</h3>
                   <form action="track-recommender" method="POST">
                        <button type="submit" value="Get Started" class="getMBend btn btn-primary btn-lg">Get Started</button>
                    </form>
                    <!-- <button class="getMBend btn btn-primary btn-lg" type="reco">Get Started</button> -->
                </div>
                
                <div class="axc">
                    <img class="sim" img style="height:80px; margin-top: 20px;" src="images/spotifyu.png" alt="sim">
                    <h2>Artist <br> Similarity</h2>
                    <h3>about artist similarity</h3>
                    <form action="artist-similarity" method="POST">
                        <button type="submit" value="Get Started" class="getMBend btn btn-primary btn-lg">Get Started</button>
                    </form>
                    <!-- <button class="getMBend btn btn-primary btn-lg" type="asim">Get Started</button> -->
                </div>
            </div>
        </div>
        
    </div>
   


</body>

</html>