<!DOCTYPE html>
<html lang="en">

<!-- track recommender results -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/tt.css">
    <title>SpotifyU</title>
</head>

<body>
    <header>
        <img class="logo" img style="height:50px" src="images/spotifyu.png" alt="SpotifyU">
        <nav>
            <ul class="nav_links">
                <li><a href="home">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="search">Search</a></li>
            </ul>
        </nav>
    </header>

    <!-- description  -->
    <section>
        <div class="containerTop">
            <div class="intro">
                <h1>Track Recommender Results</h1>
            </div>
        </div>
    </section>

    <!-- search results-->
    <div>
        <% for (var i=0; i < results.length; i++) { %>
            <p>
                <%= results[i]%><br>
            </p>
            <% } %>
    </div>

</body>

</html>